/* .cloudy {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/images/fog.gif');
} */

/* .clear {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/images/thunder.gif');
} */
