@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 162, 255, 1) 100%, rgba(0, 53, 255, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
}
